*{
    margin: 0;
    padding: 0;
}
.main
{
  width: 500px;
  height: 98vh;
  background-color: rgb(173, 174, 230);
  position: relative;
  border-top: 10px solid rgb(11, 208, 238);
}
table {
    border-collapse: separate;
    border-spacing: 0 12px;
  }
#but{
    width: 80px;
    height: 35px;
    border-radius: 10px;
    background-color: lightgray;
    color: rgb(81, 120, 118);
    position: absolute;
    right: 50px;
    bottom: 10px;
}
input{
  width: 200px;
  height: 20px;
 
}

